body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../photos/layered-waves-haikei.png');
    background-size: cover;
    font-family: 'Roboto';
}

.container {
    width: 600px;
    height: 500px;
    background-color: rgb(190, 126, 7);
    border: 1px solid black;
    box-shadow: 10px 10px 50px 25px rgb(112, 73, 0);
    text-align: center;
    margin-top: 130px;
}

h1 {
    color: wheat;
    font-size: 30px;
}

i {
    margin-left: 5px;
}

.request {
    margin-top: 100px;
}

#InputName {
    background-color: black;
    color: white;
    width: 400px;
    padding: 20px;
}

#InputName::placeholder {
    color: lightgrey;
}

#Continue {
    display: block;
    cursor: pointer;
    width: 200px;
    padding: 15px;
    font-size: 15px;
    background-color: 	black;
    color:#00FF00;
    margin-top: 200px;
    margin-left: 360px;
    transition: ease 0.2s;
}

#Continue:hover {
    transform: translateY(-5px);
}